body
{
   background-image: url(backgroundgif.gif);
   background-size:100%;
   background-repeat: repeat-y;
   background-attachment: fixed;
   height:100%;
   width:100%;
}

.beginning {
    font-family: schoolteacher;
    color: rgb(13, 44, 29);
    font-size: 30px;
    font-weight: bolder;
 }

.bigbox 
 {
     border: 20px;
     border-color: rgb(138, 77, 34);
     border-style: groove;
     margin: 250px auto;
     margin-top: 0px;
     margin-bottom: 20px;
     padding: 50px;
     width: 500px;
     background-image: url(bggg.png);
     background-color: rgba(0, 0, 0, 0.644);
     color: white;
     background-size: cover;
 }

 label{
    font-family: eraserdust;
    font-size: 30px;
 }

 ::placeholder {
    color: rgba(255, 255, 255, 0.938);
    font-family: eraserdust;
    font-size: 20px;
}

.inputNum-container {
    background-image: url(bannerr.png);
    background-size: 200px 40px;
    background-repeat: no-repeat;
    background-position: center;


}

input[type=text]
{  
    padding: 5px;
    background: none;
    color: white;
    font-family: bacon;
    font-size: 20px;
    width: 115px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 160px;
}


input[type=text]:focus
{
    outline-style: none;
 }

.button {
    margin: 0px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-gap: 3px;
    background-color: transparent;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 20px;
    background-image: url();
    background-size: 300px 280px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.button > div {
    background-color: transparent;
    border: 1px solid transparent;
    text-align: center;
  }

input[type=button] {
    background-image: url(circ1.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    border: none;
    font-family: bacon;
    width: 50px;
    height: 40px;
    margin: 2px;
 }


input[type=button]:hover {
    background-color: transparent;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 20px white;
    
}

input[type=button]:focus {
    background-color:transparent;
    outline-style: none;
    background-image: url(marker.png);
    background-position: center;
    background-size: 50px 30px;
 }

 .button-wider:focus {
   background-size: 80px 30px;
   background-image: url(marker.png);
   background-position: center;
 }

 input[type=button].operator {
    background-image: url(frame.png) !important;
    background-size: 40px 40px;
 }

 input[type=button].operator:focus {
    background-image: url(frame1.png) !important;
    background-size: 40px 40px;
 }

 @font-face {
    font-family: schoolteacher;
    src: url(SchoolTeacher-Regular.ttf);
 }

 @font-face {
    font-family: eraserdust;
    src: url(EraserDust.ttf);
 }

 @font-face {
    font-family: greenpil;
    src: url(GREENPIL.TTF);
 }

 @font-face {
   font-family: lipstickrage;
   src: url(Lipstick\ Rage.ttf);
}

@font-face {
    font-family: bacon;
    src: url(Bacon\ Kingdom.ttf);
 }

 footer {
    font-family: schoolteacher;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(13, 44, 29);
 }

 .author {
    text-decoration-line: none;
    color: rgb(24, 82, 54);

 }

 